.block-6 {
   margin-top: 39px;
}
.trust {
   width: 100%;
}
.trust_content {
   max-width: 920px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}
.trust_block {
   display: flex;
   flex-direction: column;
   text-align: center;
}
.trust_title {
   font-weight: 400;
   font-size: 100px;
   line-height: 118px;
   color: white;
}
.trust_subtitle {
   font-weight: 400;
   font-size: 24px;
   line-height: 118px;
   color: white;
}
.contact_content {
   max-width: 1129px;
   width: 100%;
   margin: 0 auto;
}
.contact_form {
   max-width: 580px;
   width: 100%;
}
.input_group {
   width: 100%;
   display: flex;
   gap: 64px;
   padding-bottom: 64px;
   margin-left: 5px;
}
.name-mail {
   border: 1px solid;
   border-image: linear-gradient(45deg, red, blue) 1;
   background-color: black;
   border-top: none;
   border-left: none;
   border-right: none;
   width: 254px;
}
.mail {
   width: 263px;
}
.message {
   border: 1px solid;
   border-image: linear-gradient(45deg, red, blue) 1;
   background-color: black;
   border-top: none;
   border-left: none;
   border-right: none;
   width: 580px;
   margin-left: 5px;
}
.contact_title {
   font-family: "Nunito";
   font-style: normal;
   font-weight: 800;
   font-size: 36px;
   line-height: 35px;
   color: white;
   margin-top: 42px;
   margin-bottom: 53px;
}
input:focus {
   outline: none;
   background-color: black;
}
.button_contact {
   width: 215px;
   height: 53px;
   background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(241, 71, 71, 0.9) 4.69%,
      rgba(42, 40, 180, 0.76) 100%
   );
   border-radius: 28px;
   border: none;
   color: white;
   font-family: "Nunito";
   font-style: normal;
   font-weight: 800;
   font-size: 20px;
   line-height: 35px;
   margin-top: 33px;
}
.last_text-idkName {
   font-family: "Nunito";
   font-style: normal;
   font-weight: 800;
   font-size: 20px;
   line-height: 35px;
   color: white;
   display: flex;
   margin-top: 36px;
   margin-left: 133px;
   margin-bottom: 37px;
}
.last_text-idkName > img {
   width: 28px;
   height: 28px;
   margin-right: 3px;
}
.contact_block {
   max-width: 1173px;
   width: 100%;
   margin: 0 auto;
   display: flex;
}
.contact_message {
   max-width: 331px;
   width: 100%;
}
.message_title {
   font-family: "Nunito";
   font-style: normal;
   font-weight: 800;
   font-size: 20px;
   line-height: 30px;
   color: white;
}
.two-fucking-blocks {
   display: flex;
   justify-content: space-between;
}
.message_subtitle {
   font-family: "Nunito";
   font-style: normal;
   font-weight: 800;
   font-size: 20px;
   line-height: 30px;
   color: white;
   margin-bottom: 4px;
   margin-top: 13px;
}
.message_image {
   display: flex;
}
.message_text {
   text-align: center;
}
