@import url('../css/section-review.css');
@import url('../css/footer.css');

body {
    font-family: 'Roboto', sans-serif;
    background: #0C0B0B;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

p {
    color: #FFFFFF;
}