.portfolio_title {
   font-weight: 800;
   font-size: 36px;
   line-height: 60px;
   color: white;
   margin-bottom: 34px;
}
.portfolio {
   max-width: 1251px;
   width: 100%;
   margin: 0 auto;
}
.portfolio_content {
   width: 100%;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 13px;
}
.portfolio_groupImage:last-child {
   margin-bottom: 37px;
}
.portfolio_groupImage {
   display: flex;
   width: 100%;
   gap: 6px;
}
.image_block {
   position: relative;
   max-width: 413px;
   max-height: 273px;
   width: 100%;
   height: 100%;
}
.first_image {
   background-image: url(../resources/portfolio-first_image.png);
   background-position: center;
   background-repeat: no-repeat;
   height: 273px;
}
.second_image {
   background-image: url(../resources/portfolio-second_image.png);
   background-position: center;
   background-repeat: no-repeat;
   height: 273px;
}
.three_image {
   background-image: url(../resources/portfolio-three_image.png);
   background-position: center;
   background-repeat: no-repeat;
   height: 273px;
}
.text_image-port > h2 {
   color: white;
   font-family: "Nunito";
   font-style: normal;
   font-weight: 800;
   font-size: 36px;
   line-height: 60px;
}
.text_image-port {
   position: absolute;
   bottom: 13px;
   left: 21px;
   display: flex;
}
.text_image-port > img {
   padding-top: 10px;
}
