.wowstart {
   position: relative;
}
.wowstart__wrapper {
   padding: 97px 0 92px;
}
.wowstart__content {
   max-width: 427px;
   margin: 0 auto;
}
.wowstart__content-title {
   max-width: 501px;
   margin-bottom: 32px;
   font-weight: 900;
   font-size: 48px;
   line-height: 56px;
   text-align: center;
   color: #CBC2E6;
}
.wowstart__content-subtitle {
   max-width: 391px;
   margin: 0 auto;
   margin-bottom: 11px;
   font-weight: 300;
   font-size: 18px;
   line-height: 33px;
   text-align: center;
   color: #CBC2E6;
}
.wowstart__content-registration {
   margin-bottom: 31px;
   width: 426px;
   height: 72px;
   background: #FF5784;
   border-radius: 90px;
   border: none;
   cursor: pointer;

   font-weight: 400;
   font-size: 36px;
   line-height: 42px;
   color: #FFFFFF;
}
.wowstart__content-text {
   font-weight: 700;
   font-size: 18px;
   line-height: 33px;
   text-align: center;
   color: #CBC2E6;
}
.wowstart__image-left {
   position: absolute;
   top: 167px;
   left: 178px;
}
.wowstart__image-right {
   position: absolute;
   top: 175px;
   right: 197px;
}